body {
  font-family: Roboto, sans-serif;
  color: #abb7be;
  font-size: 16px;
  line-height: 1.7;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  font-size: 3rem;
  line-height: 1.125;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 400;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 1.125rem;
  line-height: 1.875;
}

.c-background-video {
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, rgba(2, 4, 20, .1), rgba(2, 4, 20, .1)), url('../images/Screen-Shot-2018-06-12-at-5.29.24-PM.png');
  background-image: linear-gradient(180deg, rgba(2, 4, 20, .1), rgba(2, 4, 20, .1)), url('../images/Screen-Shot-2018-06-12-at-5.29.24-PM.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.c-navbar {
  padding: 4.5vh 3.125vw;
  background-color: transparent;
  text-transform: uppercase;
}

.c-nav-menu__link {
  padding: 1.125rem 2.5rem;
  border: 3px solid transparent;
  background-color: transparent;
  font-family: museo-sans, sans-serif;
  color: #2a2a2a;
  font-size: 10px;
}

.c-nav-menu__link.button {
  border-width: 0px;
  border-color: hsla(0, 0%, 100%, .1);
  border-radius: 0px;
  -webkit-transition: border-color 150ms ease-in;
  transition: border-color 150ms ease-in;
}

.c-nav-menu__link.button:hover {
  border-color: #2e71f0;
}

.c-hero-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.c-hero-content {
  margin-bottom: 15rem;
}

.c-hero-content__blurb {
  margin-bottom: 0.6rem;
  font-family: museo-sans, sans-serif;
  color: #abb7be;
  font-size: 1.5rem;
  line-height: 1.75;
  font-weight: 100;
}

.c-button {
  margin-right: 1.8rem;
  padding: 1.125rem 3rem;
  border-radius: 0px;
  background-color: #000;
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
}

.c-button:hover {
  background-color: #082953;
}

.c-button.proj-one {
  background-color: #fff;
  font-family: museo-sans, sans-serif;
  color: #c3c3d5;
  text-transform: none;
}

.c-button.proj-one:hover {
  background-color: #ebebeb;
  color: #abb7be;
}

.c-button.proj-two {
  background-color: #f54687;
}

.c-button.proj-two:hover {
  background-color: #f31f6e;
}

.c-button.proj-three {
  background-color: #c3ab71;
}

.c-button.proj-three:hover {
  background-color: #b79a54;
}

.c-button.proj-five {
  background-color: #4e7dea;
}

.c-button.proj-five:hover {
  background-color: #2a62e6;
}

.c-button.proj-six {
  background-color: #d78263;
}

.c-button.proj-six:hover {
  background-color: #cf6843;
}

.c-button.proj-seven {
  background-color: #ff6d74;
}

.c-button.proj-seven:hover {
  background-color: #ff444e;
}

.l-container {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.l-container.footer {
  padding-bottom: 18vh;
}

.c-slider {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid hsla(240, 9%, 65%, .15);
  background-color: transparent;
}

.c-logo-slide {
  width: 100%;
}

.logo-slide-mask {
  display: block;
  overflow: visible;
  width: 16.666666%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider-mask {
  position: relative;
  overflow: hidden;
}

.logo-title {
  text-align: center;
}

.c-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: museo-sans, sans-serif;
  font-weight: 100;
}

.line-center {
  width: 2.125rem;
  height: 3px;
  border-radius: 1.5px;
  background-color: transparent;
}

.heading {
  color: #000;
  font-size: 1.5rem;
  line-height: 1.75;
}

.c-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-cta.estimate {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.l-section--dark {
  background-color: #f9f9f9;
}

.c-select {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c-sel-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 100vh;
  margin-right: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-family: museo-sans, sans-serif;
}

.c-sel-menu.sticky {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}

.c-select__item-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.c-project {
  width: 100%;
  height: 100vh;
}

.c-project__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  margin-bottom: 5%;
  padding-left: 4vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c-project__item.three {
  background-image: url('../images/badger-cover-large_bbvwah_fjvzfj.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.c-project__item.four {
  background-image: url('../images/reactor-cover-large_fbsxhg_fmndpq.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.c-project__item.five {
  background-image: url('../images/dailyui-cover-large_hdtxfq_pjccsd.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.c-project__item.six {
  background-image: url('../images/platinum-cover-large_yhmwkb_ztzvmm.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.c-project__item.seven {
  background-image: url('../images/roomland-cover-large_gfbvff_pdqhwn.jpeg');
  background-position: 0px 0px;
  background-size: 1300px;
}

.c-sel-menu__link {
  margin-bottom: 1rem;
  padding-top: 1rem;
  color: #abb7be;
  font-size: 1.125rem;
  text-decoration: none;
}

.c-sel-menu__link.w--current {
  border-bottom: 1px solid rgba(46, 113, 240, .3);
  color: #2e71f0;
}

.c-project__logo {
  height: 2.75rem;
}

.c-project__title {
  width: 27rem;
  font-family: museo-sans, sans-serif;
  color: #222;
  font-size: 2.25rem;
  font-weight: 100;
}

.c-button--light {
  margin-right: 1.8rem;
  padding: 1.125rem 3rem;
  border-radius: 5px;
  background-color: #4353ff;
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
}

.c-button--light:hover {
  background-color: #2437ff;
}

.c-project-menu.sticky--top {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;
}

.c-project-menu.sticky-bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  display: none;
}

.c-project__title--dark {
  color: #000;
  font-size: 2.25rem;
  font-weight: 700;
}

.c-color {
  min-height: 810px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ee3a87;
}

.c-over-team {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 810px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-column {
  padding-right: 0px;
  padding-left: 0px;
}

.c-over-team__item {
  position: absolute;
  right: 7vw;
  border-radius: 5px;
}

.c-over-team_item--top {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 15vw;
  border-radius: 5px;
}

.c-over-team_item--middle {
  position: absolute;
  left: 2vw;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  width: 15vw;
  border-radius: 5px;
}

.c-over-team_item--left {
  position: absolute;
  left: -18vw;
  top: 10vw;
  z-index: 2;
  width: 15vw;
  border-radius: 5px;
}

.c-title--left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c-desc {
  padding: 4vw;
}

.brand {
  width: 300px;
}

.c-quote {
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.c-card-slider {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.c-card-slider_mask {
  display: block;
  overflow: visible;
  width: 50%;
}

.c-card {
  width: 100%;
  padding-right: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-card-content {
  padding: 2.5rem;
  border-radius: 0px;
  background-color: #fff;
}

.c-pill-arrow {
  position: relative;
  width: 100px;
  height: 50px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 20px;
  background-color: #fff;
}

.c-pill-arrrow_icon {
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  color: #abb7be;
  font-size: 1.5rem;
}

.c-card-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-card-info__image {
  display: inline-block;
  overflow: hidden;
  width: 75px;
  margin-right: 1rem;
  border-radius: 100%;
}

.c-card-info__text {
  display: inline-block;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.c-nav-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.c-nav-wrap__text {
  width: 60%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.c-nav-wrap__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.c-cta__logo {
  margin-bottom: 1rem;
}

.c-cta__text {
  margin-bottom: 2rem;
  font-family: museo-sans, sans-serif;
  font-weight: 100;
  text-align: center;
}

.highlight-color {
  color: #2e71f0;
}

.l-section-footer {
  background-color: #0c0e22;
}

.c-footer-content__image {
  margin-bottom: 3.7rem;
}

.footer-title {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
}

.c-footer-header {
  margin-bottom: 3rem;
}

.c-footer__link {
  display: block;
  margin-bottom: 0.5rem;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  color: #abb7be;
  text-decoration: none;
}

.c-footer__link:hover {
  color: #fff;
}

.c-footer__link.inline {
  display: inline-block;
  margin-bottom: 0rem;
  margin-left: 1rem;
}

.c-footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-margin-wrap {
  margin-top: 3rem;
}

.light-text {
  color: #fff;
}

.c-social__icon {
  margin-right: 1rem;
  opacity: 0.5;
}

.c-social__icon.is-last {
  margin-right: 0rem;
}

.l-section--cookie {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  background-image: -webkit-linear-gradient(270deg, #0e1134, #020308);
  background-image: linear-gradient(180deg, #0e1134, #020308);
}

.c-cookie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-container--cookie {
  padding: 1.5rem;
}

.l-container--cookie.footer {
  padding-bottom: 18vh;
}

.c-cookie__text {
  margin-right: 0.5rem;
}

.c-button--cookie {
  margin-right: 1.8rem;
  padding: 1.125rem 3rem;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(67, 83, 255, .25);
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: border-color 150ms ease-in;
  transition: border-color 150ms ease-in;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
}

.c-button--cookie:hover {
  border-color: rgba(67, 83, 255, .75);
}

.c-button--cookie.proj-one {
  background-color: #fff;
  color: #6ac5d5;
}

.c-button--cookie.proj-one:hover {
  background-color: #ebebeb;
  color: #abb7be;
}

.c-button--cookie.proj-two {
  background-color: #f54687;
}

.c-button--cookie.proj-two:hover {
  background-color: #f31f6e;
}

.c-button--cookie.proj-three {
  background-color: #c3ab71;
}

.c-button--cookie.proj-three:hover {
  background-color: #b79a54;
}

.c-button--cookie.proj-five {
  background-color: #4e7dea;
}

.c-button--cookie.proj-five:hover {
  background-color: #2a62e6;
}

.c-button--cookie.proj-six {
  background-color: #d78263;
}

.c-button--cookie.proj-six:hover {
  background-color: #cf6843;
}

.c-button--cookie.proj-seven {
  background-color: #ff6d74;
}

.c-button--cookie.proj-seven:hover {
  background-color: #ff444e;
}

.c-video-icon {
  width: 100px;
  border-radius: 100%;
  -webkit-transition: -webkit-transform 850ms cubic-bezier(.23, 1, .32, 1);
  transition: -webkit-transform 850ms cubic-bezier(.23, 1, .32, 1);
  transition: transform 850ms cubic-bezier(.23, 1, .32, 1);
  transition: transform 850ms cubic-bezier(.23, 1, .32, 1), -webkit-transform 850ms cubic-bezier(.23, 1, .32, 1);
}

.c-video-icon:hover {
  box-shadow: 0 0 30px 0 hsla(0, 0%, 100%, .6);
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
}

.image {
  width: 300px;
  padding-top: 17px;
}

.text-block {
  font-family: museo-sans, sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
}

.icon {
  color: #2a2a2a;
}

.dropdown {
  background-color: rgba(0, 0, 0, .3);
  font-family: museo-sans, sans-serif;
  color: #fff;
  font-size: 10px;
  text-align: right;
  letter-spacing: 2px;
  text-decoration: none;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  background-color: rgba(0, 0, 0, .2);
}

.heading-2 {
  font-size: 2rem;
  font-weight: 100;
}

.text-block-2 {
  color: #2a2a2a;
}

.heading-3 {
  font-family: museo-sans, sans-serif;
  font-weight: 100;
}

.image-3 {
  width: auto;
  height: auto;
}

.heading-4 {
  font-family: museo-sans, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.heading-5 {
  font-family: museo-sans, sans-serif;
  font-size: 14px;
  text-align: center;
}

.text-block-3 {
  font-family: museo-sans, sans-serif;
  text-align: center;
}

.weight {
  text-align: center;
}

.div-block {
  position: relative;
  width: 100%;
  height: 100%;
}

.html-embed {
  text-align: center;
}

.html-embed-2 {
  text-align: center;
}

@media (max-width: 991px) {
  .c-background-video {
    max-height: 900px;
  }
  .c-nav-menu {
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    background-color: #000;
    text-align: center;
  }
  .c-nav-menu__link {
    color: #fff;
    text-align: center;
  }
  .c-hero-card {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .l-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .c-slider {
    padding-bottom: 0rem;
  }
  .logo-slide-mask {
    width: 33.33333%;
  }
  .c-project__item.two {
    background-image: none;
  }
  .c-project__item.five {
    background-position: 50% 50%;
  }
  .l-section--cookie {
    background-image: -webkit-linear-gradient(270deg, #0e1134, #020308);
    background-image: linear-gradient(180deg, #0e1134, #020308);
  }
  .l-container--cookie {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .menu-button.w--open {
    background-color: #0e1134;
  }
  .icon {
    color: #2a2a2a;
  }
  .text-block-2 {
    color: #fff;
  }
  .image-2 {
    width: 700px;
    height: 320px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  .c-background-video {
    max-height: 90vh;
  }
  .c-hero-content__blurb {
    font-size: 1rem;
  }
  .c-serve-card {
    text-align: center;
  }
  .c-sel-menu {
    margin-right: 2rem;
  }
  .c-project__item.two {
    background-image: none;
  }
  .c-project__title {
    width: auto;
  }
  .c-project__title--dark {
    width: auto;
  }
  .c-color {
    min-height: 600px;
  }
  .c-over-team {
    min-height: 600px;
  }
  .c-card-slider_mask {
    width: 100%;
  }
  .c-card {
    padding-right: 0rem;
  }
  .c-card-content {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
  .c-card-info {
    text-align: center;
  }
  .c-nav-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .c-nav-wrap__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .c-nav-wrap__navigation {
    padding-top: 2rem;
    padding-bottom: 2rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .c-footer-content {
    margin-bottom: 2rem;
  }
  .c-cookie {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .c-cookie__text {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .c-button--cookie {
    margin-right: 0rem;
  }
  .c-video-icon {
    width: 50px;
  }
  .image-2 {
    width: 400px;
    height: 280px;
  }
  .row {
    width: 100%;
    text-align: center;
  }
  .y_shop_button {
    width: 100%;
    font-family: museo-sans, sans-serif;
    text-align: center;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .buttoncolumn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
  }
  .html-embed-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  h4 {
    font-size: 1.5rem;
  }
  .c-background-video {
    max-height: 95vh;
  }
  .c-navbar {
    background-color: #fff;
  }
  .c-button {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .c-project__title {
    font-size: 1.7rem;
  }
  .c-project-menu {
    display: none;
  }
  .c-project__title--dark {
    font-size: 1.7rem;
  }
  .c-color {
    min-height: 350px;
  }
  .c-over-team {
    min-height: 350px;
  }
  .c-desc {
    padding-top: 20vw;
    padding-bottom: 20vw;
  }
  .c-card {
    text-align: center;
  }
  .c-card-content {
    padding-right: 0rem;
    padding-left: 0rem;
    text-align: center;
  }
  .c-cta__text {
    font-size: 2.25rem;
  }
  .c-footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .c-footer-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .c-footer-link-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .c-button--cookie {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section {
    background-image: url('../images/example-bg.png'), url('../images/example-bg.png');
    background-position: 50% 100%, 0px 0px;
    background-size: cover, 125px;
    background-repeat: no-repeat, repeat;
  }
  .y_shop_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 12px;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .buttoncolumn {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .htmlembed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .html-embed-3 {
    font-size: 12px;
  }
  .column-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

